// Color scheme: http://paletton.com/#uid=72+1K0kq5xIuxr7oUYnINl-BMfa
@color-primary-0: #22B868;	/* Main Primary color */
@color-primary-1: #07994B;
@color-primary-2: #37F991;
@color-primary-3: #007A38;
@color-primary-4: #005528;

@color-secondary-1-0: #8327AE;	/* Main Secondary color (1) */
@color-secondary-1-1: #660D90;
@color-secondary-1-2: #BD40F8;
@color-secondary-1-3: #4F0373;
@color-secondary-1-4: #380350;

@color-secondary-2-0: #F8FE2F;	/* Main Secondary color (2) */
@color-secondary-2-1: #D2D70A;
@color-secondary-2-2: #FAFF39;
@color-secondary-2-3: #A7AB00;
@color-secondary-2-4: #757800;

@color-complement-0: #FF5E2F;	/* Main Complement color */
@color-complement-1: #D8380A;
@color-complement-2: #FF6539;
@color-complement-3: #AC2700;
@color-complement-4: #791B00;
