
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------

[theme-there-will-be-cake-ui-font=arial] atom-workspace {
  font-family: Arial;
}
[theme-there-will-be-cake-ui-font=helvetica] atom-workspace {
  font-family: Helvetica;
}
[theme-there-will-be-cake-ui-font=times-new-roman] atom-workspace {
  font-family: 'Times New Roman';
}
[theme-there-will-be-cake-ui-font=times] atom-workspace {
  font-family: Times;
}
[theme-there-will-be-cake-ui-font=courier-new] atom-workspace {
  font-family: 'Courier New';
}
[theme-there-will-be-cake-ui-font=verdana] atom-workspace {
  font-family: Verdana;
}
[theme-there-will-be-cake-ui-font=georgia] atom-workspace {
  font-family: Georgia;
}
[theme-there-will-be-cake-ui-font=palatino] atom-workspace {
  font-family: Palatino;
}
[theme-there-will-be-cake-ui-font=garamond] atom-workspace {
  font-family: Garamond;
}
[theme-there-will-be-cake-ui-font=bookman] atom-workspace {
  font-family: Bookman;
}
[theme-there-will-be-cake-ui-font=comic-sans-ms] atom-workspace {
  font-family: 'Comic Sans MS';
}
[theme-there-will-be-cake-ui-font=trebuchet-ms] atom-workspace {
  font-family: 'Trebuchet MS';
}
[theme-there-will-be-cake-ui-font=impact] atom-workspace {
  font-family: Impact;
}


body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane {
  border-right: 1px solid @base-border-color;
  &:last-child {
    border-right: none;
  }
}

.atom-dock-resize-handle {
  background-color: @base-border-color;
}

.preview-pane .preview-header {
  background-color: @base-background-color;
}

.settings-view {
  .section {
    padding-left: 40px;
    padding-right: 40px;

    &:first-child, &:last-child {
      padding: 40px;
    }

    .section-heading {
      text-transform: @ui-text-transform;
    }
  }

  .config-menu {
    text-transform: @ui-text-transform;
  }
}

li[data-type="SettingsView"],
li[data-type="ResultsPaneView"],
li[data-type="TreeView"],
li[data-type="StyleguideView"] {
  text-transform: @ui-text-transform;
}
